.content{
    display: flex;
    margin: 10px 40px;
}
.profile {
    margin: 25px;
    line-height:35px;
}

.profile h3{
    margin-top:25px;
  
}

.profile h3:after {
    content: " ";
    border:1px solid;
    border-image:linear-gradient(to right, #4158D0 0%, #C850C0 46%, #FFCC70 100%) 10;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    max-width: 200px
}


.skills {
    padding: 6rem 21rem;
    text-align: center;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: 350px;
    grid-auto-flow: dense;
}

.front {
   border: 1px solid lightgrey;
   border-radius: 30px;
   margin: 10px 30px;
   padding: 0 10px;

   -webkit-box-shadow: -1px 6px 19px 1px grey;
    box-shadow: -1px 6px 19px 1px grey;
}


.front h4 {
    margin: 10px;

}

.front p {
    margin: 8px;
}


@media only screen and (max-width: 680px) {
    .skills {
        padding:0;
    }
  }



 