
.content {
    display: flex;
    margin: 1rem 3rem 6rem;
}
.profile {
    margin: 25px;
    line-height:35px;
}

.profile h3{
    margin-top:25px;
}

.profile h3:after {
    content: " ";
    border:1px solid;
    border-image:linear-gradient(to right, #4158D0 0%, #C850C0 46%, #FFCC70 100%) 10;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    width: 200px
}


.skills {
    padding: 4rem 21rem;
    text-align: center;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-template-rows: 350px;
    margin-bottom: 7rem;
}

.front {
   border: 1px solid lightgrey;
   border-radius: 30px;
   margin: 5px 30px;
   -webkit-box-shadow: -1px 6px 19px 1px grey;
    box-shadow: -1px 6px 19px 1px grey;
}


.front h4 {
    margin: 10px;

}

.front p {
    margin: 8px;
}


@media only screen and (max-width: 1680px) {
 .skills {
    padding: 4rem 10rem;
 }
 .front {
     margin: 15px 30px;
 }
  }


@media only screen and (max-width: 680px) {
 .skills {
     padding:0;
    }
    .content {
        display: grid;
    }
 
    .profile h3:after {
        content: " ";
        border:1px solid;
        border-image:linear-gradient(to right, #4158D0 0%, #C850C0 46%, #FFCC70 100%) 10;
        margin-top: 15px;
        margin-bottom: 15px;
        display: block;
        width: 250px;
       
    }

}


 