.footer {
    margin-top: 10%;
    max-width: 100%;;
    height: 250px;
    background-color: #2B2F77;
    background-image:  radial-gradient(
    at center, #3498db, #9b59b6
      );
    position: sticky;
    display: flex;
    justify-content: center;
  }

 
.footer h1 {
 display: flex;
 justify-content: center;
}  

.container a {
  padding: 1rem 1rem;
} 

.copy {
  display: inline-block;
  cursor: pointer;
}

.icon {
  padding: 10px;
}

@media only screen and (max-width: 720px) {
  .footer h1 {
    margin-bottom: 5px;
  }
  .container {
    display:grid;
    margin: 0;
  }

  .container a {
    margin: 0;
    padding: 0;
    justify-content: center;
    
  }
}
