.nav {
    max-width: 100%;;
    height: 46px;
 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px;

    margin-top: 0;
} 

 .nav .home{
  margin-right: auto;
  color:white;
  font-weight: bolder;
  font-size: 30px;
 
}

.rest a {
  padding: 0 25px;
  color:white;
}


