.item {
    padding: 50px;
    width: 1000px;
    margin:auto;
}  

.content  {
    position: relative;
    opacity: 1;
    transition: opacity .40s ease-in-out;
    -moz-transition: opacity .40s ease-in-out;
    -webkit-transition: opacity .40s ease-in-out;
}

.descrip {
    border-radius: 15px;
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, .8);
    font-size: 17px;
    width: 50%;
    margin: 110px 110px;
    padding: 30px;
    color:white;
}
.descrip a:hover {
  text-decoration: underline;
}

.item1 {
    position: relative;
    left: 50px;
}
.item2 {
    position: relative;
    left: 100px;
}

.descrip a:hover {
   text-decoration-line: underline;
}

.content:hover .descrip {
    display: block;
    opacity: 1;
    width: 70%;
    z-index: 1;  
}

.effect {
    max-height: 100%;
  min-width: 100%;
  object-fit: cover;

}

.effect:hover {
    transition: opacity .40s ease-in-out;
    -moz-transition: opacity .40s ease-in-out;
    -webkit-transition: opacity .40s ease-in-out;
    -webkit-box-shadow: 41px -37px 25px -25px rgba(255,79,79,0.98), 50px 35px 35px -25px #F8FF80, 12px 50px 32px -30px #6EFF80, -50px 50px 16px -30px #92F9FF, -33px -24px 50px -5px #9EBCFF, -42px -13px 50px -22px #A643FF, -29px -24px 19px -13px rgba(146,227,255,0.54), -29px -24px 19px -13px rgba(146,227,255,0.54); 
    box-shadow: 41px -37px 25px -25px rgba(255,79,79,0.98), 50px 35px 35px -25px #F8FF80, 12px 50px 32px -30px #6EFF80, -50px 50px 16px -30px #92F9FF, -33px -24px 50px -5px #9EBCFF, -42px -13px 50px -22px #A643FF, -29px -24px 19px -13px rgba(146,227,255,0.54), -29px -24px 19px -13px rgba(146,227,255,0.54);
}



@media (min-width: 1670px) {
    .container {
        display:flex;
        margin:auto;
        flex-shrink: 1;
    }
  }

@media only screen and (max-width: 930px) {
    .item {
        margin-left: 0;
        width: 100vw;
        }
}

@media  (max-width: 855px) {
     .descrip {
       font-size: 10px;
       width: 50%;
       margin: 90px 75px;
       padding: 35px;
     }
     .contain h3{
       text-align: center;
     }
     .contain h3:after{
       margin: 15px auto;
     }
}

@media (max-width: 630px) {
  .descrip {
     font-size: 12px;
     width: 70%;
     margin: 5rem 5rem;
     padding:1rem;
     }
 }

 @media (max-width: 560px) {
    .descrip {
      margin: 1rem 3.5rem;
       }
   }

@media (max-width: 500px){
  .descrip{
    padding: 0 1rem;
    margin: 0.5rem 3.5rem;

  }
}

@media (max-width: 450px){
  .descrip{
    font-size: 10px;
    padding: 0.4rem;
    margin: 0.8rem 3rem;
    width: 100%;
  }
  .item1{
    position: relative;
    left:33px;
  }
  .item2{
    position: relative;
    left:60px;
  }
}

